/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
body {
  background: #302e30;
  color: #ffffff;
}
.MuiChip-root {
  margin: 0.5em;
}
.skill-box {
  text-align: center;
  padding: 1.5em 0;
}
.skill-box h5 {
  margin-bottom: 0.7em;
}
.essential {
}
.technical {
  background-color: #c5cae9 !important;
}
.framework {
  background-color: #90caf9 !important;
}
.library {
  background-color: #cddc39 !important;
}
.database {
  background-color: #ffeb3b !important;
}
.cms {
  background-color: #ffb74d !important;
}
.os {
  background-color: #e57373 !important;
}
.tools {
  background-color: #e1bee7 !important;
}
.design {
  background-color: #ce93d8 !important;
}

header a,
header a button span {
  color: #ffffff;
  text-decoration: none;
}
.edu-img,
.work-img {
  width: 4em !important;
  height: 4em !important;
  margin-right: 1em;
  border-radius: 50%;
  box-shadow: 1px 1px 6px grey;
}
.edu-content,
.work-content {
  display: flex !important;
  /* align-items: center; */
}
.block {
  display: block !important;
}
.MuiPaper-elevation1 {
  box-shadow: none !important;
}
.edu-box .MuiCard-root,
.work-box .MuiCard-root {
  background: transparent;
  color: #ffffff;
}
.task-button {
  border: 1px solid #ffffff !important;
  color: #ffffff !important;
  font-weight: 700 !important;
}
/* @media screen and (device-width: 360px) and (device-height: 640px) { */
/* @media screen and (device-width: 360px) { */
@media only screen and (max-width: 480px) {
  .edu-box .MuiCard-root,
  .work-box .MuiCard-root {
    background: #000000;
    width: 95%;
  }
  .edu-content,
  .work-content {
    display: block !important;
    text-align: center !important;
  }
  .edu-img,
  .work-img {
    margin: unset !important;
    text-align: center !important;
    width: 50% !important;
    height: unset !important;
    margin-bottom: 10px !important;
  }

  .slick-slide img {
    display: inline !important;
  }
  /* .slick-track {
    display: flex !important;
  }

  .slick-slide {
    height: inherit !important;
    width: 90% !important;
  }
  .slick-slide > div {
    height: 100%;
  } */
}
/* .slick-track {
  display: flex !important;
}

.slick-slide {
  height: inherit !important;
  width: 90% !important;
}
.slick-slide > div {
  height: 100%;
} */
.full-width {
  width: 100% !important;
}
.imageInput {
  display: none;
}
.imageInput-label {
  cursor: pointer;
  background: #e0e0e0;
  text-transform: uppercase;
  padding: 0.8em;
  font-size: 0.9em;
  border-radius: 2px;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  width: 100% !important;
}
.company {
  font-weight: bold !important;
}
.desc-list {
  padding-inline-start: 1em;
  line-height: 1.5em;
}
.project-slider .slick-slider,
.edu-slider .slick-slider,
.work-slider .slick-slider {
  width: 100%;
}

.intro-section {
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(#0e1025),
    to(#373447)
  );
  background-image: linear-gradient(0deg, #0e1025 0, #373447);
  color: #ffffff;
}
.intro-section svg {
  color: #ffffff;
}
.intro-section .profile-row img {
  border-radius: 50%;
  width: 90%;
  box-shadow: 1px 2px 1px grey;
}
.detail-links a {
  color: inherit;
  text-decoration: none;
}
.desc-section {
  background-image: url("https://safwbdev.netlify.app/static/media/desc_bg.25374c6a.jpeg");

  padding: 0;
  /* background: red; */
  background-attachment: fixed;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
.desc-section h6 {
  color: #ffffff;
  text-align: center;
  font-weight: 700;
  text-shadow: 11px 1px 6px #000;
}
@media only screen and (min-width: 1201px) {
  .intro-section {
    height: 100vh;
  }
  .intro-section .profile-row {
    height: 60vh;
    display: flex;
    align-items: center;
  }
  .desc-section {
    /* background: red; */
    position: absolute;
    bottom: 0;
    height: 40vh;
    display: flex;
    align-items: center;
  }
}
.intro-section .profile-row .titles {
  margin-bottom: 2em;
}
.intro-section .profile-row .titles h2 {
  font-weight: 700;
}
.intro-section .profile-row .titles h3 {
  font-style: italic;
}
@media screen and (device-width: 480px) and (device-height: 640px) {
  .intro-section .profile-row {
    text-align: center;
    padding-top: 2em;
  }
  .intro-section .profile-row .titles {
    margin: 2em 0;
  }
  .intro-section .profile-row .titles h2 {
    margin-bottom: 0.6em;
  }
  .intro-section .profile-row .link-btn {
    background: #ffffff;
  }
  .intro-section .profile-row .link-btn svg {
    color: #373447;
  }
  .intro-section .profile-row .titles h2 {
    font-size: 1.9rem !important;
  }
  .intro-section .profile-row .titles h3 {
    font-size: 1.7rem !important;
  }
  .intro-section .profile-row {
    height: 100vh;
  }
  .intro-section .profile-row .location {
    margin-top: 2em;
  }

  .desc-section {
    height: 100vh;
    justify-content: center;
    align-items: center;
  }
  .intro-section .profile-row img {
    margin: 30px 0 0;
    width: 60%;
  }
  .intro-section .desc-section {
    padding: 20px;
  }
  .slick-slide {
    margin: 0 10px;
    background: #000000;
    /* border-radius: 20px; */
  }
  .project-slider .slick-slide {
    margin: 0;
    background: transparent;
  }
  .task-dialogbox .MuiDialog-paper {
    border: 1px solid #ffffff;
    background: #000000;
    color: #ffffff;
  }
  .task-dialogbox .MuiDialog-paper .MuiDialogTitle-root h2 {
    /* border-bottom: 1px solid #ffffff; */
    font-weight: 700 !important;
    text-align: center;
  }
  .project-section .MuiContainer-root {
    padding: 0;
  }
}

@media screen and (max-width: 480px) {
  .intro-section .profile-row {
    text-align: center;
    padding-top: 2em;
  }
  .intro-section .profile-row .titles {
    margin: 2em 0;
  }
  .intro-section .profile-row .titles h2 {
    margin-bottom: 0.6em;
  }
  .intro-section .profile-row .link-btn {
    background: #ffffff;
  }
  .intro-section .profile-row .link-btn svg {
    color: #373447;
  }
  .intro-section .profile-row .titles h2 {
    font-size: 1.9rem !important;
  }
  .intro-section .profile-row .titles h3 {
    font-size: 1.7rem !important;
  }
  .intro-section .profile-row {
    height: 100vh;
  }
  .intro-section .profile-row .location {
    margin-top: 2em;
  }

  .desc-section {
    height: 100vh;
    justify-content: center;
    align-items: center;
  }
  .intro-section .profile-row img {
    margin: 30px 0 0;
    width: 60%;
  }
  .intro-section .desc-section {
    padding: 20px;
  }

  .work-slider.MuiGrid-container,
  .edu-slider.MuiGrid-container {
    padding: 0 0 0 15px;
  }
  /* .project-section .MuiContainer-root {
    padding: 0;
  } */
  .project-section .project-slider {
    padding: 0 0 0 15px;
  }
}
.work-section {
  /* background: red; */
  /* background-image: url("https://images.pexels.com/photos/450035/pexels-photo-450035.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"); */

  padding: 0;
  /* background: red; */
  background-attachment: fixed;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
.skill-section,
.work-section,
.education-section {
  padding: 2em 0;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  .titles {
    border: 1px solid blue !important;
  }
  .intro-section {
    height: 100vh;
  }
  .intro-section .profile-row {
    height: 60vh;
    display: flex;
    align-items: center;
  }
  .desc-section {
    /* background: red; */
    position: absolute;
    bottom: 0;
    height: 40vh;
    display: flex;
    align-items: center;
  }
  .intro-section .profile-row .profile-image {
    text-align: center;
  }
  .intro-section .profile-row .profile-image img {
    margin: 0 0 30px;
    width: 90%;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .titles {
    border: 1px solid red !important;
    text-align: center;
  }

  .intro-section {
    height: 100vh;
  }
  .intro-section .profile-row {
    height: 60vh;
    display: flex;
    align-items: center;
  }
  .desc-section {
    /* background: red; */
    position: absolute;
    bottom: 0;
    height: 40vh;
    display: flex;
    align-items: center;
  }
  .intro-section .profile-row .profile-image {
    text-align: center;
  }
  .intro-section .profile-row .profile-image img {
    margin: 0 0 30px;
    width: 30%;
  }
}
.MuiDialog-paper {
  background: #000000 !important;
  color: #ffffff !important;
  box-shadow: 0px 0px 10px #5a5a5a !important;
}
.slick-dots li button:before {
  color: #ffffff !important;
}
.project-section a {
  text-decoration: none;
}
