/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
.MuiChip-root {
  margin: 0.5em;
}
.skill-box {
  text-align: center;
  padding: 1.5em 0;
}
.skill-box h5 {
  margin-bottom: 0.7em;
}
.essential {
}
.technical {
  background-color: #c5cae9 !important;
}
.framework {
  background-color: #90caf9 !important;
}
.library {
  background-color: #cddc39 !important;
}
.database {
  background-color: #ffeb3b !important;
}
.cms {
  background-color: #ffb74d !important;
}
.os {
  background-color: #e57373 !important;
}
.tools {
  background-color: #e1bee7 !important;
}
.design {
  background-color: #ce93d8 !important;
}

header a,
header a button span {
  color: #ffffff;
  text-decoration: none;
}
.edu-img {
  width: 4em !important;
  height: 4em !important;
  margin-right: 1em;
}
.edu-content {
  display: flex !important;
  /* align-items: center; */
}
.block {
  display: block !important;
}
.MuiPaper-elevation1 {
  box-shadow: none !important;
}
@media screen and (device-width: 360px) and (device-height: 640px) {
  .edu-content {
    display: block !important;
    text-align: center !important;
  }
  .edu-img {
    margin: unset !important;
    text-align: center !important;
  }
}
.edu-box {
  /* border: 1px solid red !important; */
}
.full-width {
  width: 100% !important;
}
.imageInput {
  display: none;
}
.imageInput-label {
  cursor: pointer;
  background: #e0e0e0;
  text-transform: uppercase;
  padding: 0.8em;
  font-size: 0.9em;
  border-radius: 2px;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  width: 100% !important;
}
.company {
  font-weight: bold !important;
}
.desc-list {
  padding-inline-start: 1em;
  line-height: 1.5em;
}
