/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
.MuiChip-root {
  margin: 0.5em;
}
.skill-box {
  text-align: center;
  padding: 1.5em 0;
}
.skill-box h5 {
  margin-bottom: 0.7em;
}
.essential {
}
.technical {
  background-color: #c5cae9 !important;
}
.framework {
  background-color: #90caf9 !important;
}
.library {
  background-color: #cddc39 !important;
}
.database {
  background-color: #ffeb3b !important;
}
.cms {
  background-color: #ffb74d !important;
}
.os {
  background-color: #e57373 !important;
}
.tools {
  background-color: #e1bee7 !important;
}
.design {
  background-color: #ce93d8 !important;
}

header a,
header a button span {
  color: #ffffff;
  text-decoration: none;
}
